go 1.18

use (
    ../../../chattools/pkg/chat_output/sc_dbtable
    ../../../chattools/pkg/chat_output/sc_slack
    ../../pkg/okane
    ../../../g76golib/pkg/shared
    ../../../g76golib/pkg/sjson
    ../../../g76golib/pkg/slogger
    .
)
