go 1.18

use (
	../../../chattools/pkg/chat_output/sc_dbtable
    ../../pkg/okane
    ../../../g76golib/pkg/sentry
    ../../../g76golib/pkg/shared
    ../../../g76golib/pkg/sjson
    ../../../g76golib/pkg/slogger
	.
)
